@import "../fonts.scss";
@import "../colors.scss";

.actual {
  position: relative;
  .corona--image {
    position: absolute;
    max-width: 150px;
    &:nth-child(1) {
      width: 10vw;
      top: 0%;
      right: 11%;
    }
    &:nth-child(2) {
      width: 6vw;
      top: 39%;
      right: 5%;
    }
  }
  .actual__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    h2 {
      font-size: 2rem;
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 1.6rem;
      }
    }
    .block {
      display: flex;
      position: relative;
      align-items: center;
      font-size: 2.5rem;
      line-height: 1em;
      padding: 0.5em;
      border-radius: 0.6em;
      border: 5px solid $color-main;
      max-width: 400px;
      width: 100%;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
      @media (max-width: 500px) {
        font-size: 1.6rem;
      }

      &__line {
        width: 5px;
        height: 20px;
        background-color: $color-main;
      }
      &__circle {
        width: 15px;
        height: 15px;
        margin-top: -1px;
        margin-bottom: 5px;
        border-radius: 50%;
        background-color: $color-main;
      }
      span {
        margin: 0 0.3em;
        padding-top: 0.2em;
      }
      .icon {
        width: 1em;
        height: 1em;
        &--big {
          height: 1.8em;
          right: 0px;
          transform: translateX(40%);
          position: absolute;
        }
      }
    }
    .descr,
    .block {
      color: $color-dark;
    }
  }
}
